<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <title>Toronto Blogs</title>
</head>
<br>

<form action="/Blogs" method="post">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="blog content" placeholder="blog content">
  <input type="submit" value="Save">
</form>
<body>
    {{{body}}}
</body>
</html>