<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <title>Toronto Blogs</title>
</head>
<h1> Toronto Blogs</h1>
<nav>
    <ul>
        <li><a href="/">Home</li>
        <li><a href="/blogs/new">Post a Blog</li>
         <li><a href="#">Log In</li>
        </ul>
        <select name="Search Categories">
    <option selected disabled>Search Categories</option>
  <option value="food">Food</option>
  <option value="entertainment">Entertainment</option>
  <option value="hotels">Hotels</option>
</select>
    </a>
</nav>
<body>
    {{{body}}}
</body>
</html>