<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <title>Document</title>
</head>
<h1> Toronto Blogs</h1>
<nav>
    <ul>
        <li><a href="#">Post a Blog</li>
         <li><a href="#">Search</li>
         <li><a href="#">Log In</li>
        </ul>
    </a>
</nav>
<body>
    {{{body}}}
</body>
</html>